track:
  - media
  - snippets
  - templates

tracker:
  class: git

insales:
  subdomain:
  api_key:
  password:

uploader:
  class: insales
  theme_id:

ignore:
  - '*.swp'
  - '*.swx'
  - '.*'
  - 'thumbs.db'
  - '.DS_Store'
