track:
  - media
  - snippets
  - templates

tracker:
  class: Insup::Tracker::GitTracker

uploader:
  class: Insup::Uploader::InsalesUploader
  subdomain:
  password:
  api_key:

ignore:
  - '*.swp'
  - '*.swx'
  - '.*'


environment:
  development:
    uploader:
      theme_id:

  production:
    uploader:
      theme_id:

